<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4ea475a8-da5e-45d4-b8ea-1eba29848911/resourceGroups/Ashton_Zackey/providers/Microsoft.Web/sites/ST10257746Ice2</ResourceId>
    <ResourceGroup>Ashton_Zackey</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://st10257746ice2-f2gpahgxgbfhcac9.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://st10257746ice2-f2gpahgxgbfhcac9.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ST10257746Ice2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>